
<form [formGroup]="UserForm" (ngSubmit)="submitCita()" >


 <!-- Nombre -->
  <div>
    <label for="nombre">Nombre de la tarea</label>
    <input id="nombre" type="text" formControlName="nombre" />

    <!-- Validaciones -->
    <div *ngIf="campoInvalido('nombre')">
      <small *ngIf="UserForm.get('nombre')?.errors?.['required']">
        El nombre es obligatorio
      </small>
      <small *ngIf="UserForm.get('nombre')?.errors?.['minlength']">
        Mínimo 3 caracteres
      </small>
    </div>
  </div>

  <div>
    <label for="correo">Descripción</label>
    <input id="correo" type="text" formControlName="correo" />

    <!-- Validaciones -->
    <div *ngIf="campoInvalido('correo')">
      <small *ngIf="UserForm.get('correo')?.errors?.['required']">
        La Descripción es obligatorio
      </small>
     
    </div>
  </div>

    <div>
    <label for="password">Fecha</label>
    <input id="password" type="date" formControlName="password" />

    <!-- Validaciones -->
  
  </div>




  <button type="submit"> Guardar </button>

</form>
