<div>
  <h2>Lista de tareas</h2>
  
  <p *ngIf="loading">Cargando usuarios...</p>

  <table *ngIf="!loading && users.length > 0" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Acción</th>
        <th>Nuevo Nombre</th>
        <th>Nueva Desc.</th>
        <th>Acción</th>
        
        
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user._id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td><button (click)="deleteUser(user._id)" >Eliminar</button></td>

        <td>
  <input [(ngModel)]="user.name">
</td>
<td>
  <input [(ngModel)]="user.email">
</td>
<td>
  <button (click)="updateUser(user)">Actualizar</button>
</td>
      </tr>
    </tbody>

    
  </table>

  <p *ngIf="!loading && users.length === 0">
    No hay usuarios en la base de datos
  </p>
</div>